body { background: url(Imagenes/679.png) no-repeat center fixed;
  background-size: cover; 
  font-family: 'Gugi';
  text-align: center;
  align-self: auto;
  }

h1{
   text-shadow: 0 6px 7px #5606a1, 0px -2px 1px rgb(31, 5, 5);
   color: #f1ebe5;	
}
label{
	margin: 3rem;
	text-shadow: 0 6px 7px #5606a1, 0px -2px 1px rgb(31, 5, 5);
	color: #f1ebe5;
	font-size: 1em;
	background: rgb(206, 178, 209, 0.8);
	border-radius: 3em;
	padding:1em;
	}
#space{
	color:black;
	margin: 2em;
	border-radius: 2em;
	padding: 1em;
	width: 3em;
	font-size: 0.8em;
	font-family: 'Gugi';
	background: #ece4d9;
}

#paraph, #text1{
	background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
	border-radius: 2em;
	padding: 1em;
	font-size: 1.3em;
	margin: 2em;
	color: black;
}

footer{
	background: linear-gradient(to bottom, #9593e9 0%,#ab82cc 100%);
	color:#f1ebe5;
	font-size: 0.5em;
	padding: 1em;
}

#encodeButton{ 
    background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); 
	border-radius: 5em;
	padding: 1em;
	width: 8em;
	color: #747070;
    font-size: 0.9em;
	font-family: 'Gugi';
	transition-duration: 0.5s;	
}

#encodeButton:hover {
	background: white;
	border: 0.5em solid #27748B;
	color: black;
	cursor: pointer;
}

#decodeButton{
	background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); 
	border-radius: 5em;
	padding: 1em;
	color: #747070;
	font-size: 0.9em;
	font-family: 'Gugi';
	transition-duration: 0.5s;
}

#decodeButton:hover {
	background: white;
	border: 0.5em solid #27748B;
	color: black;
	cursor: pointer;
}